

.height-vh100{
    height:100vh;
}
.h-vh100{
    height: calc(100vh - 54px);
}

.rounded-1{
    border-radius: 1rem!important;
}
.login-sidelogo {
  display: flex;
  align-items: center;
  margin-top: 66px;
}

.card-box{

    padding: 15px 0px;
    border-radius: 1rem!important;
    box-shadow: 1px 3px 20px 0px rgb(0 0 0 / 22%);

    // input{
    //     background-color: #f5faff00;
    // border-radius: 0px !important;
    // border-bottom: solid 1px #dddcdc;
    // border-top: 0;
    // border-right: 0;
    // border-left: 0px;
    // }
}
.setcountrycode{
    font-size: 14px;
    padding-top: 4px;
    background: #ededed;
    height: 44px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #00000026;
    margin-top: -2px;
}

.input-pl-30{
    padding-left: 30px;
}
.my-pad-lr-50{
    padding-left:50px;
    padding-right: 50px;
}
.btn-black{
    background: #000;
    border-radius: 50px;
    color:#fff
}
.form-logo{
    height: 46px;
    margin-top: 50px;
}
// .bgImages{
//     background-image: url(../../../../assets/images/parallax-bg-1.jpg) !important; background-repeat: no-repeat !important; background-size: cover !important;
//   }

.login-area{
    width:100%; padding-left:15px; padding-right: 15px;
    display: flex;
    align-items: center;
    min-height: 400px;
    label{
        font-size: 13px;

    }

    a{text-decoration: none; margin-top: 10px;}
}

.row-decor{
    background: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
  }

  .img-radius-8{
    border-radius: 8px 0px 0px 8px;
  }

  .divform-img{
    position: relative;
  }

  .form-imgtext{
    position: absolute;
  top: 0px;
  background-image: linear-gradient(179deg, #00000000 42%,#010102f5);
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  border-radius: 0px 0px 0px 8px;

        h1{
            font-size: 32px;
            font-weight: 600;
            line-height: 1.2;
            color:#adadad;

                span{
                    font-size: 16px;
                    font-weight: 300;
                    color:#979797
                }
        }
    }


    .formtit-1 {
        font-size: 20px;
        font-weight: 600;
        color: #3e3e3e;
        padding-top: 15px;
    }
    .formtit-2{
        color: #3e3e3e;
        font-size: 13px;
        font-weight: 400;
    }

    .topbgcolor{
        background: #fff;
    }
    .cnav-bar{
        display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    }

    .form-label {
        margin-bottom: 0.1rem;
    }

    .firstform-decor {
        border-radius: 1rem;
        background: #fff;
        border: solid 10px #f1f1f1;
        padding: 15px 8px;
    }
    .f12{
        font-size: 12px;
    }
    .f13{
        font-size: 13px;
    }
    .text-align-right{
        text-align: end;
    }
    sup{
        color:red
    }











    /* form starting stylings ------------------------------- */






    .set-shwpsd{
        right: 34px;
    top: 14px;
    cursor: pointer;
    z-index: 100;
    position: absolute;
    width: 14px;
    }

    .otp-box{

        fieldset{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        input{
            width: 40px;
            margin-right: 10px;
            text-align: center;
        }

    }
    .p-like-label {
        color: #000;
        font-size: 13px;
        margin-bottom: 0px;
    }
    .set-show-psw{
        width: 40px;
        margin-right: 10px;
        padding-top: 10px;
        text-align: center;
       img{
        width: 14px;
       }
    }
    .set-error-flags{
        width: 40px;
        padding-top: 10px;
        text-align: center;
    }

    .blue-bg-img{
      background-image: url("../../../../assets/images/noise.6ab9c4f0c2e1d40ae9a9.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #efe7e1 !important;
  }


   .suc-msg-otp {
        margin-top: 10px;
    color: #3fc767;
    font-size: 14px;
    }

    @media (max-width: 992px) and (min-width: 320px){
        .my-pad-lr-50{
            padding-left:20px;
            padding-right: 0px;
        }
        .card-box{
            margin:0px 8px;
        }
        .login-area {
            width: 100%;
             padding-left: 1px;
            padding-right: 1px;

        }
        .otp-box .set-error-flags{
            width: 35px;
            padding-top: 10px;
            text-align: center;
        }
        .otp-box .set-show-psw{
            width: 35px;
            margin-right: 10px;
            padding-top: 10px;
            text-align: center;

        }
        .otp-box input{
            width: 35px;
            margin-right: 10px;
            text-align: center;
        }
        .hide-after-992{
            display: none;
        }
    }
