.sidebar {
  position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 185px;

    z-index: 100;
    transition: all 0.5s ease;

}
li.side-bar-direction.active {
  height: 110px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-radius: 0px 10px 10px 0px;

}
.icon-link span {
  color: white;
}

ul.nav-links {
  width: 185px;
  display: flex;
  flex-direction: column;
}
.sidebar.close {
  width: 185px;
}
ul.nav-links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-right: 5px solid black;
}

.sidebar .logo-details {
  height: 54px;
  width: 100%;
  display: flex;
  align-items: center;
  // border-bottom: 1px solid #32394e;

}

.sidebar .logo-details i {
  font-size: 36px;
  color: #fff;
  height: 45px;
  min-width: 78px;
  text-align: center;
  line-height: 45px;
}

.sidebar .logo-details .logo-name {
  font-size: 24px;
  color: #c3cbe4;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo-name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.ng-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar .nav-links {

  height: 100%;
  padding: 15px 0 0px 0;
  overflow: auto;

}

.sidebar.close .nav-links {
  overflow: visible;

}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: #000000;
  border-radius: 0px 10px 10px 0px;


}
.sidebar .nav-links li :hover span.link-name{
  color: white !important;
  opacity: 1 !important;
}

.sidebar .nav-links .active {
  background: #000000;

}
li.side-bar-direction.active a span {
  color: #fff!important;
  opacity: 1!important;
}

.sidebar .nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.sidebar.close .nav-links li .icon-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 45px;
  min-width: 60px;
  text-align: center;
  line-height: 45px;
  color: #c3cbe4;
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;

}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;

}
.active i{
  color:#3952B9 !important
}

.sidebar .nav-links li a .link-name {
  font-size: 13px;
  font-weight: 500;
  width: 120px;

}

.sidebar.close .nav-links li a .link-name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 0px 6px 0px 50px;
  background: #fff;
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
  opacity: 1;
}

.sub-menu a {
  font-size: 13px;
  color: #fff;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.3s ease;
  height: 30px;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;

}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 8px 20px;
  border-radius: 0 6px 6px 0;
  transition: all 0.4s ease;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0px;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;

}

.sidebar .nav-links li .sub-menu .link-name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link-name {
  font-size: 16px;
  opacity: 1;
  display: block;
}

.sidebar.close .nav-links li .sub-menu .link-name {
  font-size: 14px;
  opacity: 1;
  display: block;
  color: #333333;
  font-weight: 500;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;

}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222736;
  padding: 6px 0px;
  transition: all 0.5s ease;

}

.sidebar.close .profile-details {
  background: none;

}

.sidebar.close .profile-details {
  width: 186px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details img {
  width: 52px;
  height: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #BBC0BA;
  transition: all 0.5s ease;

}

.sidebar.close .profile-details img {
  padding: 10px;
}

.sidebar .profile-details .profile-name,
.sidebar .profile-details .job-name {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar .profile-details .job-name {
  font-size: 12px;
}

.sidebar.close .profile-details .profile-name,
.sidebar.close .profile-details .job-name,
.sidebar.close .profile-details i {
  display: none;
}

.nav-logo-set{
  width: 38px;
    margin-left: 10px;
}
