<!-- 
<div *ngIf="isLoader" class="ab-loader-body">
    <div class="ab-loader"></div>
    <p class="loader-msg">
        Please wait while your information is being verified.
    </p>
    </div>
<div class="loader"><div class="ab-loader"></div></div> -->
<!-- <app-header [ngClass]="{'displayHead':!service.isLoggedIn()}"></app-header> -->
<!-- <app-header-login [ngClass]="{'displayHead':service.isLoggedIn()}">

</app-header-login> -->
<!-- <app-side-bar [ngClass]="{'displayHead':!service.isLoggedIn()}" ></app-side-bar> -->
<!-- <section class="dashboard-section1" [ngClass]="{'addClass':!service.isLoggedIn()}" >
 
</section> -->
<!-- <router-outlet></router-outlet> --> 

<div *ngIf="isLoader" class="ab-loader-body">
    <div class="ab-loader"></div>
    <p class="loader-msg">
        Please wait while your information is being accessed.
    </p>
    </div>
<!-- <div class="loader"><div class="ab-loader"></div></div> -->

<!-- <app-header-login [ngClass]="{'displayHead':service.isLoggedIn()}">

</app-header-login> -->
<!-- dashboard-right-column -->
<app-side-bar [ngClass]="{'displayHead':!service.isLoggedIn()}" ></app-side-bar>
 <section class="dashboard-section1 " [ngClass]="{'show':!isSidebarVisible}" [ngClass]="{'inner-page':!service.isLoggedIn()}" >
    <app-header [ngClass]="{'displayHead':!service.isLoggedIn()}"></app-header>
    <router-outlet></router-outlet>
</section> 



