<section>
  <div  class="row">
      <div class="col-6">
          <div class="current-deposite-block">
              <div class="current-deposite">
                  <strong>Salary</strong>
                  <p>All salaries will be listed here</p>
              </div>
          </div>
      </div>

  </div>
  <div class="deposite-table">
      <div class="deposite-table-inner">
        <button (click)="filterDataByYear(2021)">Show Yearly</button>
        <button (click)="filterDataByQuarter('Q1')">Show Quarterly</button>
        <button (click)="filterDataByMonth()">Show monthly</button>




        <table class="table"[class.active]>
          <thead>
            <tr>
              <th>Month</th>
              <th>Initial Investment (in Lakhs)</th>
              <th>Quarterly Profit (%)</th>
              <th>Profit (in Lakhs)</th>
              <th>Investment After Quarter (in Lakhs)</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of displayedData">
              <td>{{ data.Month }}</td>
              <td>{{ data.InitialInvestment }}</td>
              <td>{{ data.QuarterlyProfitLossPercentage }}</td>
              <td>{{ data.ProfitLossAmount }}</td>
              <td>{{ data.InvestmentAfterQuarter }}</td>
            </tr>
          </tbody>
        </table>


      </div>
  </div>

</section>
