<!-- <section>
  <div class="row">
    <div class="col-md-3">
      <div class="dsb-card-left home-big-scroll">
        <ul>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">irctc</p>
              <p class="comp-val">187.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+4.00 (+2.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">pnb</p>
              <p class="comp-val">157.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+3.00 (+1.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">ongc</p>
              <p class="comp-val">87.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+2.00 (+1.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idbi</p>
              <p class="comp-val">127.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+4.00 (+3.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idea</p>
              <p class="comp-val">10.9</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-red">-0.10 (-0.09%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">ongc</p>
              <p class="comp-val">87.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+2.00 (+1.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idbi</p>
              <p class="comp-val">127.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+4.00 (+3.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idea</p>
              <p class="comp-val">10.9</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-red">-0.10 (-0.09%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idea</p>
              <p class="comp-val">10.9</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-red">-0.10 (-0.09%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idea</p>
              <p class="comp-val">10.9</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-red">-0.10 (-0.09%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">ongc</p>
              <p class="comp-val">87.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+2.00 (+1.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idbi</p>
              <p class="comp-val">127.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+4.00 (+3.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idbi</p>
              <p class="comp-val">127.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+4.00 (+3.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">ongc</p>
              <p class="comp-val">87.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+2.00 (+1.18%)</p>
            </div>
          </li>
          <li>
            <div class="cd-flex-pro">
              <p class="comp-name">idbi</p>
              <p class="comp-val">127.52</p>
            </div>
            <div class="cd-flex-pro">
              <p class="comp-typ">nse</p>
              <p class="comp-typ-val txt-green">+4.00 (+3.18%)</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">

          <div class="blue-card">
            <span class="line-1"></span>
        <span class="line-2"></span>
        <span class="line-3"></span>
            <h5 class="sec-tit mb-3 mt-1" style="color:#fff">Investments Summary</h5>
            <div class="row">
              <div class="col-lg-3 mb-3">
                <div class="topcard">
                    <div class="set-txt-icon">
                        <div>
                            <p class="title">Profit/Loss</p>
                        </div>
                        <div class="tcard-icon">
                            <i class="fa fa-compress" aria-hidden="true"></i>
                        </div>
                   </div>
                   <p class="value-amt color-red">{{ investmentData?.profitLoss }}</p>
                   <p class="value-amt-sub bg-red"><span>(-2.95%) <i class='bx bx-trending-down' ></i></span> Going Down</p>
                </div>
              </div>
              <div class="col-lg-3 mb-3">
                <div class="topcard">
                    <div class="set-txt-icon">
                        <div>
                            <p class="title">Today's Profit/Loss</p>
                        </div>
                        <div class="tcard-icon t-c-bg20">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                   </div>
                   <p class="value-amt color-green">{{ investmentData?.currentValue }} </p>
                   <p class="value-amt-sub bg-green"><span>(+2.08%) <i class='bx bx-trending-up'></i></span> Looks Pretty Good</p>
                </div>
              </div>
              <div class="col-lg-3 mb-3">
                <div class="topcard">
                    <div class="set-txt-icon">
                        <div>
                            <p class="title">You Invested</p>
                        </div>
                        <div class="tcard-icon t-c-bg30">
                            <i class="fa fa-shield" aria-hidden="true"></i>
                        </div>
                   </div>
                   <p class="value-amt ">{{ investmentData?.invested }} </p>
                </div>
              </div>
              <div class="col-lg-3 mb-3">
                <div class="topcard">
                   <div class="set-txt-icon">
                        <div>
                            <p class="title">Current Value</p>
                        </div>
                        <div class="tcard-icon t-c-bg40">
                            <i class="fa fa-line-chart" aria-hidden="true"></i>
                        </div>
                   </div>
                   <p class="value-amt">{{ investmentData?.todayProfitLoss }} </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div><h5 class="sec-tit mb-3">Market Update</h5></div>
              <div class="dsb-card mb-3">
                <div class="d-flex align-items-center">
                  <div class="me-3"><img style="width: 42px;" src="assets/images/liveicon1.png"></div>
                  <div><h5 class="sec-tit2 mb-0">Live new</h5></div>
                </div>
              </div>
              <div class="dsb-card mb-3">
                <div class="d-flex align-items-center">
                  <div class="me-3"><img style="width: 42px;" src="assets/images/short-news.png"></div>
                  <div><h5 class="sec-tit2 mb-0">Short new</h5></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div><h5 class="sec-tit mb-3">Reports</h5></div>
              <div class="dsb-card mb-3">
                <div class="d-flex align-items-center">
                  <div class="me-3"><img style="width: 42px;" src="assets/images/p-l-icon.png"></div>
                  <div><h5 class="sec-tit2 mb-0">P/L Reports</h5></div>
                </div>
              </div>
              <div class="dsb-card mb-3">
                <div class="d-flex align-items-center">
                  <div class="me-3"><img style="width: 42px;" src="assets/images/bank-tras.png"></div>
                  <div><h5 class="sec-tit2 mb-0">Transaction</h5></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">

              <div class="dsb-card-left2 ">
                <div class="header-decor"><h5 class="color-green0 mb-0">Top Gainer <span class="badge rounded-pill bg-success">31</span></h5></div>
                <ul class="home-small-scroll">
                  <li *ngFor="let item of investmentgetainers">
                    <div class="cd-flex-pro align-items-center">
                      <div>
                        <p class="comp-name">{{ item.symbol }}</p>
                      </div>
                      <div class="text-end">
                        <p class="comp-val">{{ item.value }}</p>
                        <p class="comp-typ-val txt-red">+{{ item.profit }} (+2.18%)</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-6">

              <div class="dsb-card-left2 ">
                <div class="header-decor"><h5 class="color-red0 mb-0">Top Looser <span class="badge rounded-pill bg-danger">21</span></h5></div>
                <ul class="home-small-scroll">
                  <li *ngFor="let item of investmentLooser">
                    <div class="cd-flex-pro align-items-center">
                      <div>
                        <p class="comp-name">{{ item.symbol }}</p>
                      </div>
                      <div class="text-end">
                        <p class="comp-val">{{ item.value }}</p>
                        <p class="comp-typ-val txt-red">-{{ item.profit }}</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





 -->



 <section class="">
  <div class="row dashboard-block">
    <div class="col-4">
      <div class="deposite-amount-col">
        <div class="dep-amnt">
          <h4>Deposit Amount</h4>
        </div>
        <div class="current-bal">
          <p>₹<span>{{investedMoney.depositAmt}}</span></p>
        </div>
        <a href="/#/depositeDetails" class="Deposit-btn">Deposit Amount</a>
      </div>
    </div>
    <div class="col-4">
      <div class="deposite-amount-col">
        <div class="dep-amnt">
          <h4>Wallet balance</h4>
        </div>
        <div class="current-bal">
          <p>₹<span>{{investedMoney.walletBalance}}</span></p>
        </div>
        <p class="">*Wallet balance is credited automatically every month to your registered bank account.</p>
      </div>
    </div>
    <div class="col-4">
      <div class="deposite-amount-col">
        <div class="dep-amnt">
          <h4>Salaries</h4>
        </div>
        <div class="current-bal">
          <p>₹<span>{{investedMoney.salaries}}</span></p>
        </div>
        <p class="">0
          Active Salaries</p>
      </div>
    </div>
    <div class="col-4">
      <div class="deposite-amount-col">
        <div class="dep-amnt">
          <h4>Lifetime earning</h4>
        </div>
        <div class="current-bal">
          <p>₹<span>{{investedMoney.lifetimeEarning}}</span></p>
        </div>
        <p class="">₹ {{investedMoney.lifetimeEarning}}
          This month</p>
      </div>
    </div>
    <div class="col-8">

      <div class="deposite-amount-col referral-links-block">
        <div class="dep-amnt">
          <h4>Referral Link</h4>
        </div>
        <div class="current-bal">
          <p>Sorry, you are not yet eligible for our referral program yet.
            Contact us if you think it's a mistake and we have missed something.</p>
        </div>
        <div class="current-bal eligible-btn">You are not yet eligible for referral.</div>
      </div>
    </div>

  </div>
  <div class="dsb-card-left2 ">
    <div class="header-decor"><h5 class="color-green0 mb-0">Top Gainer <span class="badge rounded-pill bg-success">31</span></h5></div>
    <ul class="home-small-scroll">
      <li *ngFor="let item of portfolioData">
        <div class="cd-flex-pro align-items-center">
          <div>
            <p class="comp-name">{{ item.stock_symbol }}</p>
          </div>
          <div class="text-end">
            <p class="comp-val">{{ item.quantity }}</p>
            <!-- You can calculate profit here if needed -->
          </div>
        </div>
      </li>
    </ul>

  </div>




 </section>
