<section>
    <div  class="row">
        <div class="col-6">
            <div class="current-deposite-block">
                <div class="current-deposite">
                    <strong>Transaction History</strong>
                    <!-- <p>All salaries will be listed here</p> -->
                </div>
            </div>
        </div>
        
    </div>
    <div class="deposite-table">
        <div class="deposite-table-inner">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Order Id</th>
                    <th scope="col">Ammount</th>
                    <th scope="col">Date</th>
                    <th scope="col">Payment Type</th>
                    <!-- <th scope="col">OrderPrice</th>
                    <th scope="col">pricePerShare</th>
                    <th scope="col">profitLoss</th>
                    <th scope="col">quantity</th> -->

                  </tr>
                </thead>
                <tbody> 
                  <tr *ngFor="let  Orderhistorylist of Orderhistorylist">
                    <!-- <tr>   -->
                    <td>{{Orderhistorylist.orderId}}</td>
                    <td>{{Orderhistorylist.pricePerShare}}</td>
                    <td>{{Orderhistorylist.date}}</td>
                    <td>{{Orderhistorylist.orderType}}</td>
                    <!-- <td>{{Orderhistorylist.profitLoss}}</td>
                    <td>{{Orderhistorylist.pricePerShare}}</td>
                    <td>{{Orderhistorylist.profitLoss}}</td>
                    <td>{{Orderhistorylist.quantity}}</td> -->

                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    
</section>